html {
    background: #018DED;
    background-size: cover;
    font-family: 'helvetiva neue';
    text-align: center;
    font-size: 10px;
}

.clock {
    width: 20rem;
    height: 20rem;
    border: 20px solid #fff;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
            0 0 0px 4px rgba(0, 0, 0, 0.1),
            inset 0 0 0 3px #EFEFEF,
            inset 0 0 10px black,
            0 0 10px rgbs(0, 0, 0, 0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 3.1, 0.58, 1);
}

.hour-hand {
    background: red;
}