:root {
	--container-bg-color: #333;
	--left-bg-color: rgba(39, 39, 103, 0.5);
	--left-button-hover-color: rgba(161, 161, 161, 0.3);
	--right-bg-color: rgba(143, 43, 43, 0.6);
	--right-button-hover-color: rgba(162, 92, 92, 0.3);
	--hover-width: 70%;
	--other-width: 30%;
	--speed: 1000ms;
}

html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

h1 {
	/*font-size: 3rem;*/
	/*color: #fff;*/
	position: absolute;
	left: 50%;
	/*font-family: "papyrus regular";	*/
	top: 10%;
	transform: translateX(-50%);
	white-space: nowrap;
}

#heaven {
	background: -webkit-linear-gradient(#fff, #58f);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	top: 8%;
  	font-weight: bolder;
  	font-size: 4rem;
	font-family: "Amatic SC";
  	/*-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: #58f;*/
}
#hell {
 	background: -webkit-linear-gradient(#fff, #f90);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	font-weight: bolder;
  	font-size: 3rem;
  	font-family: "papyrus regular";
  	/*-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: #f90;*/
 }

.button {
	display: block;
	position: absolute;
	left: 50%;
	top: 40%;
	height: 2.5rem;
	font-family: 'Exo';
	padding-top: 1.3rem;
	width: 15rem;
	text-align: center;
	color: #fff;
	/*border: #fff solid 0.2rem;*/
	font-size: 1.3rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transform: translateX(-50%);
}

#hellb {
	border: #fff solid 0.2rem;
    -moz-border-image: -moz-linear-gradient(top, #fef53e 0%, #9a1100 100%);
	-webkit-border-image: -webkit-linear-gradient(top, #fef53e 0%, #9a1100 100%);
	border-image: linear-gradient(to bottom, #fef53e 0%, #9a1100 100%);
	border-image-slice: 1;
}

#heavenb {
	border: 0.2rem solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	-webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
	border-image-slice: 1;
}


.split.left .button:hover {
	background-color: var(--left-button-hover-color);
	border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
	background-color: var(--right-button-hover-color);
	border-color: var(--right-button-hover-color);
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	background: var(--container-bg-color);
}

.split {
	position: absolute;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.split.left {
	left: 0;
	background: url('heaven.jpg') center center no-repeat;
	background-size: cover;
}

.split.left:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--left-bg-color);
}

.split.right {
	right: 0;
	background: url(hell.jpg) center center no-repeat;
	background-size: cover;
}

.split.right:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--right-bg-color);
}

.split.left, .split.right, .split.right:before, .split.left:before {
	transition: var(--speed) all ease-in-out;
}

.hover-left .left {
	width: var(--hover-width);
}

.hover-left #heaven {
	transition: var(--speed) all ease-in-out;
	font-size: 6rem;
	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: #58f;
}

.hover-left #hell {
	transition: var(--speed) all ease-in-out;
	font-size: 2rem;
}
.hover-right #hell {
	transition: var(--speed) all ease-in-out;
	font-size: 5rem;
}
.hover-right #heaven {
	transition: var(--speed) all ease-in-out;
	font-size: 2rem;
}

.hover-left .right {
	width: var(--other-width);
}

.hover-left .right:before {
	z-index: 2;
}

.hover-right .right {
	width: var(--hover-width);
}

.hover-right .left {
	width: var(--other-width);
}

.hover-right .left:before {
	z-index: 2;
}

@media (max-width: 800px) {
	h1 {
		font-size: 2rem;
	}

	.button {
		width: 12rem;
	}
}

@media (max-height: 700px) {
	.button {
		top: 72%;
	}
}