html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  margin-bottom: 0px;
  background-color: #fff;
  font-family: "Helvetica";
}
.wrapper .navi {
  width: 100%;
}
.link {
  position: fixed;
  left: 30px;
  z-index: 101;
  opacity: 0.6;
}
.link:hover {
  opacity: 0.9;
}
.title {
  position: fixed;
  z-index: 102;
  left: 60px;
  background-size: cover;
  opacity: 0.6;
}
.title:hover {
  opacity: 0.9;
}
.navi {
  width: 100%;
  position: fixed;
  right: 1px;
  z-index: 100;
  margin-top: -8px;
  text-align: right;
  background-color: white;
  padding: 12px;
}
.navi a {
  text-decoration: none;
  color: #888;
  right: 20px;
  font-weight: normal;
  word-spacing: 3px;
  padding: 5px 10px;
}
.navi a:nth-child(2) {
  border-radius: 10px;
  color: rgba(104,152,211,0.8);
  font-weight: bolder;
}
.navi a:hover {
  color: rgba(104,152,211,0.8);
}
#hr1 {
  border:none;
  background-color: rgba(255, 255, 255, 0.1);
  height: 20px;
  width: 100%;
  height: 58px;
  margin-top: 0;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 20px 20px -20px #777;
  margin: -50px auto 10px auto;
}

/* Content */
.products {
  padding-top: 80px;
}
.left1 {
  width: 45%;
  height: 400px;
  font-size: 30px;
  margin: 40px 10px 100px 50px;
  float: left;
  background-color: #fff;
}
.right1 {
  width: 45%;
  height: 400px;
  padding-top: 20px;
  line-height: 96%;
  font-size: 25px;
  margin: 40px 30px 100px 30px;
  float: right;
  border-radius: 30px;
  text-align: center;
}
.sold {
  width: 100px;
  margin-left: 220px;
  margin-top: 0px;
}
.notify {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 26px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size:16px;
  color: rgba(0, 0, 0, 0.6);
}
.submit {
  background-color: #666;
  color: white;
  padding: 10px 20px;
  margin: 5px 26px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  font-size:20px;
}
.submit:hover {
  opacity: 0.8;
  background-color: rgb(68,138,255);
  color: white;
}
.products p {
  font-family: "Century Gothic";
  color: #888;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}
.products h3 {
  text-align: center;
  color: #333;
  font-size: 40px;
  padding: 10px;
  margin: 10px;
}

#hr2 {
  height: 10px;
  border: 0;
  margin-bottom: 1px;
  box-shadow: 0 -10px 10px -10px #777 inset;
}
/* Footer */
.footer {
  height: 35px;
  clear: both;
  margin-bottom: 0px;
  font-family: cursive;
  background: linear-gradient(#eee, #ddd);
  color: black;
  padding-top: 10px;
}
.footer-left {
  margin-left: 30px;
  float: left;
}
.footer-right {
  float: right;
  font-weight: 300;
  font-family: "Helvetica Neue";
  font-size: 12px;
}
img#fb {
  width: 25px;
  height: 25px;
  padding: 0 5px 0 5px;
  opacity: 0.5;
}
img#fb:hover {
  opacity: 0.9;
}
img#twitter {
  width: 25px;
  height: 25px;
  padding: 0 5px 0 5px;
  opacity: 0.5;
}
img#twitter:hover {
  opacity: 0.9;
}
img#gplus {
  width: 30px;
  height: 30px;
  padding: 0 5px 0 5px;
  opacity: 0.5;
}
img#gplus:hover {
  opacity: 0.9;
}
img#insta {
  width: 25px;
  height: 25px;
  padding: 0 5px 0 5px;
  opacity: 0.5;
}
img#insta:hover {
  opacity: 0.9;
}
.footer-right a {
  text-decoration: none;
  color: #666;
}
.footer-right a:hover {
  color: #111;
}
